body{
    margin: 0px;
    padding: 0px;
}
/* homepage */
.head_nav{
    /* border: 1px solid black; */
    padding-top: 10px;
    text-align: center;
}
.header_tile{
    /* border: 1px solid black; */
    height: 250px;
    background-image: url('bgm.avif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.head_title{
    font-size: 50px;
    color:antiquewhite;
    text-align: center;
    padding-top: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
iframe{
    width: 400px;
    height: 300px;
}
ul{
    list-style-type: none;
}
#navi{
    display: inline-block;
    margin-right: 30px;
}
#nav1{
    text-decoration: none;
    color: antiquewhite;
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
}
#nav2{
    text-decoration: none;
    color: antiquewhite;
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
}
#nav3{
    text-decoration: none;
    color: antiquewhite;
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
}
#nav1:hover{
    background-color:antiquewhite;
    color:black;
}
#nav2:hover{
    background-color:antiquewhite;
    color:black;
}
#nav3:hover{
    background-color:antiquewhite;
    color:black;
}
.content{
    padding-top: 30px;
    padding-bottom: 100px;
    display: flex;
    gap: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#tut{
    width: 30%;
    /* border: 1px solid black; */
}
#art{
    width: 70%;
    /* border: 1px solid black; */
}
.tutorial{
    /* border: 1px solid black; */
    text-align: center;
    padding-top: 10px;
}
.tutorial{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .tutorial:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.article{
    /* border: 1px solid black; */
    padding-left: 10px;
    padding-top: 10px;
}

/* for footer */
.footer{
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
}

